<div class="row bg-secondary justify-content-center 
            align-items-center">
  <div class="col-3">

  </div>
  <div class="col-6 text-light h2">
    <div class="col-12 col-md-6 bg-muted d-inline-flex justify-content-center align-items-center text-light">
      <label class="col-7 form-control" style="width:300px;">{{ getTimeStringMinutes() }}:{{ getTimeStringSeconds() }}:{{ getTimeStringMilliseconds() }}</label>  
    </div>
    <div class="col-3"></div>
    <div class="col-6 bg-muted d-inline-flex justify-content-center align-items-center text-light">
      <button class="btn btn-secondary text-light " (click)="onStart()"> Start </button>
    
      <button class="btn btn-secondary text-light " (click)="onPause()"> Wait</button>
    
      <button class="btn btn-secondary text-light " (click)="onReset()"> Reset</button>
    </div>
  </div>